<nav class="navbar navbar-dark fixed-top flex-md-nowrap p-0 shadow" style="background-color:#624a2e;">
	<%= link_to root_path , class:'navbar-brand col-sm-3 col-md-2 mr-0' do %>
  <i class="fas fa-bible"></i> KJV Bible
  <% end %>
  
  <%= search_form_for @q ,:html => {class:'form-inline navbar-form navbar-left w-100'} do |f|  %>
  <%= f.search_field :book_or_verse_text_cont, class:'form-control form-control-dark mr-sm-2 search-navbar  my-2 my-sm-0 col-9', placeholder: "Search" %>
  <%= f.submit 'Search ',class:'btn btn-outline-warning search-btn navbar-right'%>
  <% end %>
  <div class="spinner spinner-border text-light" role="status">
    <span class="sr-only">Loading...</span>
  </div>
</nav>

  