<nav class="navbar navbar-dark fixed-top flex-md-nowrap p-0 shadow" style="background-color:#624a2e;">
	<%= link_to root_path , class:'navbar-brand col-sm-3 col-md-2 mr-0' do %>
  <i class="fas fa-bible"></i> KJV Bible
  <% end %>
  <%= form_tag(verses_path, method: :get, class:'form-inline justify-content-left' )do %>
  <%= text_field_tag(:search, params[:search], class:'form-control form-control-dark  mr-sm-2  my-2 my-sm-0', placeholder: "Search" )%>
  <%= submit_tag ("Search") ,class:'btn btn-outline-light search-btn'%>
  <% end %>
</nav>

  